@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightgrey;
}

section {
  box-shadow: 1px 6px 17px -1px rgba(34, 60, 80, 0.19);
  width: 40vw;
  font-family: Poppins, serif;
  font-size: 18px;
  background-color: #fff;
  margin-left: 28%;
  margin-top: 10%;
}

.todoContainer {
  margin: 10px 15px;
  padding: 30px 10px;
  border-bottom: 1px solid lightgrey;
}

i {
  float: right;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: auto 15px;
  font-weight: 500;
}

.header .fa-sync {
  margin-top: 25px;
}

.header h1 {
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  border: transparent;
  border-bottom: 1px solid grey;
  margin: auto 10px;
  font-style: italic;
  padding: 10px;
}

form button {
  border: none;
  padding: 14px;
  color: lightgray;
}

form button:hover {
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}

.fa-trash-alt {
  display: none;
}

.trash-active {
  display: block;
}

.edited-disable {
  display: none;
}

.checkedContainer {
  background-color: rgb(250, 237, 220);
}

.checkToDo {
  text-decoration: line-through;
}
